html, body {
  background: white;
  height: 90%;
}

header {
  text-align: center;
}

h1#pageTitle {
  font-family: 'Raleway Light';
  font-size: 32px;
}

nav {
  background-color: black;
  color: white;
  width: 80%;
  margin: auto;
}
nav span {
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 1px;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4%;
  padding-right: 4%;
  font-family: 'Helvetica Neue';
}

nav a:link {
  color: white;
  font-style: normal;
  text-decoration: none;
}

nav a:visited {
  color: white;
  font-style: normal;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

div.whiteSpace {
  height: 20px;
}

p.big a:link {
  color: white;
  font-style: normal;
  text-decoration: none;
  font-family: 'Raleway Light';
}

p.big a:visited {
  color: white;
  font-style: normal;
}

p.big a:hover {
  color: #363636;
}

div#mainBody {
  background-color: #7D7D7D;
  color: white;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 100%;
}

div#categories {
  width: 50%;
  height: 50%;
  display: block;
  padding-left: 2%;
  padding-top: 50px;
}

p.big {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Raleway Light';
}

div.categories p.small {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 35px;
  padding-left: 0%;
  margin-top: 0px;
  font-family: 'Open Sans Light';
}

p.leadIn {
  font-size: 17px;
  font-family: 'Raleway Light';
}

img.mainPhoto {
  width: 50%;
  position: absolute;
  right: 2%;
  top: 2%;
}

@media screen and (max-width:1100px){
  img.mainPhoto {
    display: none;
  }
  nav span {
    display: none;
  }
}

div#pitch {
  background: #363636;
  color: white;
  height: 80px;
  width: 160px;
  margin-top: 80px;
}

div#pitch p.small {
  font-size: 15px;
  padding-top: 17px;
  padding-left: 10px;
  margin-bottom: 0px;
  font-family: 'Open Sans Regular';
}

#pitchMe {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Raleway Light';
  background-color: #363636;
  color: white;
}

#pitchMe:hover {
  color: white;
  text-decoration: underline;
}

form#pitchClick {
  display: none;
}

div#pitchInitial {
  display: contents;
}

form#pitchClick p, input.text {
  font-size: 20px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  width: 300px;
}

.suggestion {
  height: 4em;
}

input.checkbox {
  width: 20px;

}

#submit {
  margin-top: 10px;
  margin-left: 10px;
}